import React from 'react';
//import PropTypes from 'prop-types';

{{capitaliseName name}}.propTypes = {};

export default function {{capitaliseName name}}(props) {

    console.log(props);
    return (<span>{{capitaliseName name}}</span>);

}